<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .be-bold {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>All comments</h1>
    <a href="/">Back home</a>
    <br>
    <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/323406123_690007486124834_6616876657681145584_n.jpg?stp=c0.58.526.526a_dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=N21UVYXjxjgAX9j62pP&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfA8L-x7kL7pFB7LPhVCfNoKSdPFg9GozSZ4_1bPz8i2KQ&oe=63FA5EDA" alt="" style="border-radius: 50%; width: 300px;">

    <ol>
      <% for ({ id, username, comment } of comments) { %>
      <li>
        <span class="be-bold"><%= username %></span>: 
        <br />
        <a href="/comments/<%= id %>"><%= comment %></a>

        <br />
        <a href="/comments/<%= id %>/edit"><button type="button">Edit</button></a>
        
        <!-- empty form for sending DELETE request  -->
        <form action="/comments/<%= id %>?_method=DELETE" method="POST" id="deleteForm">
            <button>Delete</button>
        </form>

        <!-- handle confirmation before deleting -->
        <!-- has bug with deleting last item -->
        <!-- <button onclick="deleteComment()">Delete comment</button> -->
      </li>
      <% } %>
    </ul>
    <a href="/comments/new">Add new comment</a>

    <script>
        const deleteForm = document.querySelector('#deleteForm');
        const deleteComment = () => {
            if (confirm(`Are you sure you want to delete this comment from <%= username %>?`)) {
                deleteForm.submit();
            }
        }
    </script>
  </body>
</html>
