<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment detail</title>
</head>
<body>
    <h1>Comment detail</h1>
    <div>ID: <%= comment.id %></div>
    <div><b><%= comment.username %></b> said "<%= comment.comment %>" on <%= comment.date.getDate() %>/<%= comment.date.getMonth() + 1 %>.</div>

    <br />
    <a href="/comments/<%= comment.id %>/edit"><button>Edit comment</button></a>

    <br />
    <form action="/comments/<%= id %>?_method=DELETE" method="POST" id="deleteForm">
        <button>Delete comment</button>
    </form>

    <br />
    <a href="/comments">Back</a>


</body>
</html>