<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Product</h1>
    <p>Name: <%= product.name %></p>
    <p>Price: <%= product.price %></p>
    <p>Category: <%= product.category %></p>
    <% if (product.farm) { %>
        <p>Farm ID: <a href="/farms/<%= product.farm._id %>"><%= product.farm._id %></a></p>
        <p>Farm Name: <%= product.farm.name %></p>
    <% } else { %>
        <p>Farm: emtpy</p>
    <% }%>

    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <a href="/products">All products</a>
</body>
</html>